@model SampleCRUD.Models.Invoice

<h2>Invoice Details</h2>

<div>
    <h4>Customer Name: @Html.DisplayFor(model => model.CustomerName)</h4>
    <p>Invoice Date: @Html.DisplayFor(model => model.InvoiceDate)</p>
    <h4>Invoice Items:</h4>
    <ul>
        @foreach (var item in Model.InvoiceItems)
        {
            <li>@item.Description - Quantity: @item.Quantity - Unit Price: @item.UnitPrice</li>
        }
    </ul>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
